{% extends 'base/base_template.html' %}
{% load static i18n %}
{% load render_partial %}

{% block Title %}
    {% trans "Create Journal" %}
{% endblock %}

{% block BodyClass %}
    has-rtl nk-body ui-rounder has-sidebar no-touch nk-nio-theme
{% endblock %}

{% block Content %}
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main">
            {% include 'base/components/menu.html' %}
            <!-- wrap @s -->
            <div class="nk-wrap">
                <!-- main header @s -->
                {% include 'base/components/header.html' %}
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-xl">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between g-3">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">{% trans "Create Journal" %}</h3>
                                        <nav>
                                            <ul class="breadcrumb breadcrumb-arrow">
                                                <li class="breadcrumb-item"><a
                                                        href="{% url 'public:index' %}">{% trans "Home Page" %}</a></li>
                                                <li class="breadcrumb-item"><a>{% trans "Journals" %}</a></li>
                                                <li class="breadcrumb-item active">{% trans "Create Journal" %}</li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- .nk-block-head-content -->
                                    <div class="nk-block-head-content">
                                        <div class="toggle-wrap nk-block-tools-toggle">
                                            <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                               data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                            <div class="toggle-expand-content" data-content="pageMenu">
                                                <ul class="nk-block-tools g-3">
                                                    <li class="nk-block-tools-opt">
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-primary"
                                                               data-bs-toggle="dropdown"><em
                                                                    class="icon ni ni-plus"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li>
                                                                        <a href="#"><span>{% trans "Import" %}</span></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .nk-block-head-content -->
                                </div>
                                <!-- .nk-block-between -->
                            </div>
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block nk-block-lg">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="card-head">
                                                <h5 class="card-title">{% trans "Journal Information" %}</h5>
                                            </div>
                                            <form action="{% url 'accounting:journal__create' %}"
                                                  class="form-validate is-alter"
                                                  method="post" enctype="multipart/form-data" id="form-el">
                                                {% csrf_token %}
                                                <div class="row g-4">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="name">
                                                                {% trans "Name" %}
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" name="name"
                                                                       placeholder="{% trans 'Name' %}"
                                                                       id="name" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="date">
                                                                {% trans "Creation Date" %}
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" name="date" id="date" required
                                                                       class="form-control date-picker-alt"
                                                                       placeholder="{% trans 'Date' %}" readonly>
                                                            </div>
                                                            <div class="form-note">{% trans "Date format" %}
                                                                <code>{% trans "Day-Month-Year" %}</code>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="form-label"
                                                                   for="attach_file">{% trans 'Attach File' %}</label>
                                                            <div class="form-control-wrap">
                                                                <div class="form-file">
                                                                    <input type="file" name="attached_file"
                                                                           class="form-file-input"
                                                                           id="attach_file">
                                                                    <label class="form-file-label"
                                                                           for="attach_file">{% trans 'File' %}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% include 'public/components/object_link/field.html' %}
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label class="form-label"
                                                                   for="description">{% trans "Description" %}</label>
                                                            <div class="form-control-wrap">
                                                                <textarea class="form-control" name="description"
                                                                          id="description"
                                                                          placeholder="{% trans 'Description' %}"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 text-left">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-lg btn-primary">
                                                                {% trans "Create" %}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .components-preview -->
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                {% include 'base/components/footer.html' %}
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    {% render_partial 'apps.public.partial_views.ObjectLinkView' form_id="form-el" %}
{% endblock %}


{% block Script %}
    <script src="{% static 'js/object-link.js' %}"></script>
{% endblock %}