{% extends 'base/base_template.html' %}
{% load static i18n %}
{% load render_partial %}

{% block Title %}
    {% trans "Create Journal Line" %}
{% endblock %}

{% block BodyClass %}
    has-rtl nk-body ui-rounder has-sidebar no-touch nk-nio-theme
{% endblock %}

{% block Content %}
    <div class="nk-app-root">
        <div class="nk-main">
            {% include 'base/components/menu.html' %}
            <div class="nk-wrap">
                {% include 'base/components/header.html' %}
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-xl">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between g-3">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">{% trans "Create Journal Line" %}</h3>
                                        <nav>
                                            <ul class="breadcrumb breadcrumb-arrow">
                                                <li class="breadcrumb-item"><a
                                                        href="{% url 'public:index' %}">{% trans "Home Page" %}</a></li>
                                                <li class="breadcrumb-item"><a>{% trans "Journal Lines" %}</a></li>
                                                <li class="breadcrumb-item active">{% trans "Create Journal Line" %}</li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="nk-block-head-content">
                                        <div class="toggle-wrap nk-block-tools-toggle">
                                            <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                               data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                            <div class="toggle-expand-content" data-content="pageMenu">
                                                <ul class="nk-block-tools g-3">
                                                    <li class="nk-block-tools-opt">
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-primary"
                                                               data-bs-toggle="dropdown"><em
                                                                    class="icon ni ni-plus"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li>
                                                                        <a href="#"><span>{% trans "Import" %}</span></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block nk-block-lg">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="card-head">
                                                <h5 class="card-title">{% trans "Journal Line Information" %}</h5>
                                            </div>
                                            <form action="{% url 'accounting:journal_line__create' %}"
                                                  class="form-validate is-alter" id="form-el"
                                                  method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="row g-4">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="name">
                                                                {% trans "Name" %}
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" name="name"
                                                                       placeholder="{% trans "Name" %}"
                                                                       id="name" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="account">
                                                                {% trans "Account" %}
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="form-control-wrap">
                                                                <select id="account" name="account"
                                                                        class="form-select js-select2" data-search="on" required
                                                                        tabindex="-1" aria-hidden="true">
                                                                    <option value="" disabled selected></option>
                                                                    {% for account in accounts %}
                                                                        <option value="{{ account.id }}">{{ account }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="entry">
                                                                {% trans "Journal Entry" %}
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="form-control-wrap">
                                                                <select id="entry" name="entry"
                                                                        class="form-select js-select2" data-search="on" required
                                                                        tabindex="-1" aria-hidden="true">
                                                                    <option value="" disabled selected></option>
                                                                    {% for journal in journals %}
                                                                        <option value="{{ journal.id }}">{{ journal.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="debit">
                                                                {% trans "Debit Amount" %}
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="form-control-wrap">
                                                                <div class="input-group">
                                                                    <input type="number"
                                                                           class="form-control form-number"
                                                                           form-number-el="parent"
                                                                           name="debit"
                                                                           placeholder="{% trans "Debit Amount" %}"
                                                                           id="debit" required>
                                                                    <div class="input-group-append">
                                                                        <select name="debit_currency_code"
                                                                                class="form-select js-select2 select-by-value"
                                                                                value="{{ default_currency.code }}">
                                                                            {% for currency in currencies %}
                                                                                <option value="{{ currency.code }}">
                                                                                    ({{ currency.symbol }}){{ currency.name }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="credit">
                                                                {% trans "Credit Amount" %}
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="form-control-wrap">
                                                                <div class="input-group">
                                                                    <input type="number"
                                                                           class="form-control form-number"
                                                                           form-number-el="parent"
                                                                           name="credit"
                                                                           placeholder="{% trans "Credit Amount" %}"
                                                                           id="credit" required>
                                                                    <div class="input-group-append">
                                                                        <select name="credit_currency_code"
                                                                                class="form-select js-select2 select-by-value"
                                                                                value="{{ default_currency.code }}">
                                                                            {% for currency in currencies %}
                                                                                <option value="{{ currency.code }}">
                                                                                    ({{ currency.symbol }}){{ currency.name }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% include 'public/components/object_link/field.html' %}
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label class="form-label"
                                                                   for="attach_file">{% trans 'Attach File' %}</label>
                                                            <div class="form-control-wrap">
                                                                <div class="form-file">
                                                                    <input type="file" name="attached_file"
                                                                           class="form-file-input"
                                                                           id="attach_file">
                                                                    <label class="form-file-label"
                                                                           for="attach_file">{% trans 'File' %}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label class="form-label"
                                                                   for="description">{% trans "Description" %}</label>
                                                            <div class="form-control-wrap">
                                                                <textarea class="form-control" name="description"
                                                                          id="description"
                                                                          placeholder="{% trans "Description" %}"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 text-left">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-lg btn-primary">
                                                                {% trans "Create" %}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'base/components/footer.html' %}
            </div>
        </div>
    </div>
    {% render_partial 'apps.public.partial_views.ObjectLinkView' form_id="form-el" %}
{% endblock %}


{% block Script %}
    <script src="{% static 'js/object-link.js' %}"></script>
{% endblock %}