{% extends 'base/base_template.html' %}
{% load static i18n %}
{% load render_partial %}

{% block Title %}
    {% trans "Journal Line Detail" %} {{ object.name }}
{% endblock %}

{% block BodyClass %}
    has-rtl nk-body ui-rounder has-sidebar no-touch nk-nio-theme
{% endblock %}

{% block Content %}
    <div class="nk-app-root">
        <div class="nk-main">
            {% include 'base/components/menu.html' %}
            <div class="nk-wrap">
                {% include 'base/components/header.html' %}
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-xl">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between g-3">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">
                                            {% trans "Journal Line Detail" %}
                                            <b>{{ object.name }}</b>
                                        </h3>
                                        <nav>
                                            <ul class="breadcrumb breadcrumb-arrow">
                                                <li class="breadcrumb-item"><a
                                                        href="{% url 'public:index' %}">{% trans "Home Page" %}</a></li>
                                                <li class="breadcrumb-item"><a>{% trans "Journal Lines" %}</a></li>
                                                <li class="breadcrumb-item">
                                                    <a href="{% url 'accounting:journal_line__list' %}">{% trans "Journal Line List" %}</a>
                                                </li>
                                                <li class="breadcrumb-item"><a>{{ object.name }}</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="nk-block-head-content d-flex justify-content-between gx-1">
                                        <div class="dropdown">
                                            <button class="btn btn-outline-light bg-white d-none d-sm-inline-flex dropdown-toggle"
                                                    data-bs-toggle="dropdown">
                                                <span>{% trans "Actions" %}</span>
                                                <em class="icon ni ni-setting"></em>
                                            </button>
                                            <button class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none dropdown-toggle"
                                                    data-bs-toggle="dropdown">
                                                <em class="icon ni ni-setting"></em>
                                            </button>
                                            <div class="dropdown-menu">
                                                <ul class="link-list-opt">
                                                    <li data-bs-toggle="modal" data-bs-target="#modal-update-object">
                                                        <a class="d-flex justify-content-between text-info">
                                                            <span>{% trans "Edit" %}</span>
                                                            <em class="icon ni ni-pen2"></em>
                                                        </a>
                                                    </li>
                                                    <li data-bs-toggle="modal" data-bs-target="#modal-delete-object">
                                                        <a class="d-flex justify-content-between text-danger">
                                                            <span>{% trans "Delete" %}</span>
                                                            <em class="icon ni ni-trash-empty"></em>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-block">
                                <div class="row gy-5">
                                    <div class="col-lg-12">
                                        <div class="nk-block-head">
                                            <div class="nk-block-head-content">
                                                <h5 class="nk-block-title title">{% trans "Basic Information" %}</h5>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <ul class="data-list is-compact">
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Name" %}</div>
                                                        <div class="data-value">{{ object.name }}</div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Journal Entry" %}</div>
                                                        <div class="data-value">
                                                            <a href="{{ object.entry.get_absolute_url }}">
                                                                {{ object.entry.name }}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Account" %}</div>
                                                        <div class="data-value">
                                                            <a href="{{ object.account.get_absolute_url }}">
                                                                {{ object.account }}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Currency Detail" %}</div>
                                                        <div class="data-value">
                                                            {% if object.has_multiple_currencies %}
                                                                <span class="badge badge-dim bg-warning">
                                                                    <span class="fs-13px">{% trans 'Has Multiple Currencies' %}</span>
                                                                    <em class="ni ni-bar-c fs-14px"></em>
                                                                </span>
                                                            {% else %}
                                                                -
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Debit Amount" %}</div>
                                                        <div class="data-value">
                                                            <span class="price-el">
                                                                {{ object.get_debit }}
                                                            </span>
                                                            <span class="currency-convert-label">{{ object.debit_base_currency }}</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Credit Amount" %}</div>
                                                        <div class="data-value">
                                                            <span class="price-el">
                                                                {{ object.get_credit }}
                                                            </span>
                                                            <span class="currency-convert-label">{{ object.credit_base_currency }}</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Object Linked" %}</div>
                                                        <div class="data-value">
                                                            {% if object.object_linked %}
                                                                {% if object.object_linked.get_absolute_url %}
                                                                    <a href="{{ object.object_linked.get_absolute_url }}">
                                                                        {{ object.get_object_linked_repr }}
                                                                    </a>
                                                                {% else %}
                                                                    <span class="badge badge-dim bg-info">
                                                                        {{ object.get_object_linked_repr }}
                                                                    </span>
                                                                {% endif %}
                                                            {% else %}
                                                                <em class="icon ni ni-cross text-secondary"></em>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Attached File" %}</div>
                                                        <div class="data-value">
                                                            {% if object.get_attached_file_url %}
                                                                <a href="{{ object.get_attached_file_url }}">{% trans 'Visit' %}</a>
                                                            {% else %}
                                                                <span>
                                                                    <em class="icon ni ni-cross text-secondary"></em>
                                                                </span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Created At" %}</div>
                                                        <div class="data-value">
                                                            <span class="badge badge-dim bg-secondary datetime-convert">{{ object.get_created_at|default:'-' }}</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Description" %}</div>
                                                        <div class="data-value">
                                                            <pre>{{ object.description|default:'-' }}</pre>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-12 col-md-6">
                                        <div class="card card-full">
                                            <div class="card-inner">
                                                <div class="card-title-group">
                                                    <div class="card-title">
                                                        <h5 class="title">
                                                            {% trans 'Debit Detail' %}
                                                            {% if not object.get_debit == object.get_debit_org %}
                                                                <em class="icon ni ni-bar-c text-warning"></em>
                                                            {% endif %}
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-inner pt-0 {% if not object.debit_currency %}opacity-15{% endif %}">
                                                <ul class="my-n2">
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div>{% trans 'Amount' %}</div>
                                                        <div class="lead-text">
                                                            <span class="price-el">
                                                                {{ object.get_debit }}
                                                            </span>
                                                            <span class="currency-convert-label">{{ object.debit_base_currency }}</span>
                                                        </div>
                                                    </li>
                                                    <!-- li -->
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div>{% trans 'Amount in Selected Currency' %}</div>
                                                        <div class="lead-text">
                                                            <span class="price-el">
                                                                {{ object.get_debit_org }}
                                                            </span>
                                                            <span class="currency-convert-label">{{ object.debit_default_currency }}</span>
                                                        </div>
                                                    </li>
                                                    <!-- li -->
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div>{% trans 'Base Currency' %}</div>
                                                        <div class="lead-text">
                                                            <span class="currency-convert-label badge badge-dim bg-secondary fs-15px">{{ object.debit_base_currency|default:'-' }}</span>
                                                        </div>
                                                    </li>
                                                    <!-- li -->
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div>{% trans 'Select Currency' %}</div>
                                                        <div class="lead-text">
                                                            <span class="currency-convert-label badge badge-dim bg-secondary fs-15px">{{ object.debit_default_currency|default:'-' }}</span>
                                                        </div>
                                                    </li>
                                                    <!-- li -->
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div>{% trans 'Base Currency/Selected Currency Rate' %}</div>
                                                        <div class="lead-text">
                                                            <span class="badge badge-dim bg-secondary fs-13px">{{ object.debit_currency.exchange_rate.rate|default:'1' }}</span>
                                                        </div>
                                                    </li>
                                                    <!-- li -->
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div>{% trans 'Difference between base and selected currency price' %}</div>
                                                        <div class="lead-text">
                                                            <div>
                                                                <div class="d-inline-block">
                                                                    <span class="price-el">
                                                                        {{ object.get_debit_currency_diff_amount }}
                                                                    </span>
                                                                    <span class="currency-convert-label">{{ base_currency_code }}</span>
                                                                </div>
                                                                <div class="badge badge-dim bg-warning d-inline-block">
                                                                    {{ object.get_debit_currency_diff }}%
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- .card -->
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="card card-full">
                                            <div class="card-inner">
                                                <div class="card-title-group">
                                                    <div class="card-title">
                                                        <h5 class="title">
                                                            {% trans 'Credit Detail' %}
                                                            {% if not object.get_credit == object.get_credit_org %}
                                                                <em class="icon ni ni-bar-c text-warning"></em>
                                                            {% endif %}
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-inner pt-0 {% if not object.credit_currency %}opacity-15{% endif %}">
                                                <ul class="my-n2">
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div>{% trans 'Amount' %}</div>
                                                        <div class="lead-text">
                                                            <span class="price-el">
                                                                {{ object.get_credit }}
                                                            </span>
                                                            <span class="currency-convert-label">{{ object.credit_base_currency }}</span>
                                                        </div>
                                                    </li>
                                                    <!-- li -->
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div>{% trans 'Amount in Selected Currency' %}</div>
                                                        <div class="lead-text">
                                                            <span class="price-el">
                                                                {{ object.get_credit_org }}
                                                            </span>
                                                            <span class="currency-convert-label">{{ object.credit_default_currency }}</span>
                                                        </div>
                                                    </li>
                                                    <!-- li -->
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div>{% trans 'Base Currency' %}</div>
                                                        <div class="lead-text">
                                                            <span class="currency-convert-label badge badge-dim bg-secondary fs-15px">{{ object.credit_base_currency|default:'-' }}</span>
                                                        </div>
                                                    </li>
                                                    <!-- li -->
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div>{% trans 'Select Currency' %}</div>
                                                        <div class="lead-text">
                                                            <span class="currency-convert-label badge badge-dim bg-secondary fs-15px">{{ object.credit_default_currency|default:'-' }}</span>
                                                        </div>
                                                    </li>
                                                    <!-- li -->
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div>{% trans 'Base Currency/Selected Currency Rate' %}</div>
                                                        <div class="lead-text">
                                                            <span class="badge badge-dim bg-secondary fs-13px">{{ object.credit_currency.exchange_rate.rate|default:'1' }}</span>
                                                        </div>
                                                    </li>
                                                    <!-- li -->
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div>{% trans 'Difference between base and selected currency price' %}</div>
                                                        <div class="lead-text">
                                                            <div>
                                                                <div class="d-inline-block">
                                                                    <span class="price-el">
                                                                        {{ object.get_credit_currency_diff_amount }}
                                                                    </span>
                                                                    <span class="currency-convert-label">{{ base_currency_code }}</span>
                                                                </div>
                                                                <div class="badge badge-dim bg-warning d-inline-block">
                                                                    {{ object.get_credit_currency_diff }}%
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- .card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'base/components/footer.html' %}
            </div>
        </div>

        <!-- modals -->
        <div class="modal fade" tabindex="-1" id="modal-delete-object" aria-modal="true" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body modal-body-lg text-center">
                        <div class="nk-modal">
                            <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-trash-empty bg-danger"></em>
                            <h4 class="nk-modal-title">{% trans "Delete Journal Line" %}</h4>
                            <div class="nk-modal-text">
                                <p class="bg-outline-danger">
                                    {% trans "Are you sure you want to delete the journal line" %}
                                    <b>{{ object.name }}</b>?
                                    {% trans "Deleting this journal line will remove all related items and cannot be undone." %}
                                </p>
                            </div>
                            <div class="nk-modal-action mt-5">
                                <a class="btn btn-lg btn-mw btn-light m-1"
                                   data-bs-dismiss="modal">{% trans "Cancel" %}</a>
                                <a href="{% url 'accounting:journal_line__delete' pk=object.id %}"
                                   class="btn btn-lg btn-mw btn-danger m-1">{% trans "Yes, Delete Journal Line" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="modal-update-object">
            <div class="modal-dialog modal-dialog-top modal-lg" role="document">
                <div class="modal-content">
                    <a href="#" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                        <em class="icon ni ni-cross"></em>
                    </a>
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans "Edit" %}</h5>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'accounting:journal_line__update' pk=object.id %}" id="form-update"
                              class="form-validate is-alter" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label" for="name">
                                            {% trans "Name" %}
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" name="name"
                                                   placeholder="{% trans "Name" %}" value="{{ object.name }}"
                                                   id="name" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label" for="account">
                                            {% trans "Account" %}
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="form-control-wrap">
                                            <select id="account" name="account"
                                                    class="form-select js-select2 select-by-value"
                                                    value="{{ object.account.id }}" data-search="on"
                                                    tabindex="-1" aria-hidden="true">
                                                <option value="" disabled selected></option>
                                                {% for account in accounts %}
                                                    <option value="{{ account.id }}">{{ account }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label" for="entry">
                                            {% trans "Journal Entry" %}
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="form-control-wrap">
                                            <select id="entry" name="entry"
                                                    class="form-select js-select2 select-by-value"
                                                    value="{{ object.entry.id }}" data-search="on"
                                                    tabindex="-1" aria-hidden="true">
                                                <option value="" disabled selected></option>
                                                {% for journal in journals %}
                                                    <option value="{{ journal.id }}">{{ journal.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label" for="debit">
                                            {% trans "Debit Amount" %}
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="form-control-wrap">
                                            <div class="input-group">
                                                <input type="number"
                                                       class="form-control form-number"
                                                       form-number-el="parent"
                                                       name="debit" value="{{ object.debit }}"
                                                       placeholder="{% trans "Debit Amount" %}"
                                                       id="debit" required>
                                                <div class="input-group-append">
                                                    <select name="debit_currency_code"
                                                            class="form-select js-select2 select-by-value"
                                                            value="{{ object.debit_currency_code }}">
                                                        {% for currency in currencies %}
                                                            <option value="{{ currency.code }}">
                                                                ({{ currency.symbol }}){{ currency.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label" for="credit">
                                            {% trans "Credit Amount" %}
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="form-control-wrap">
                                            <div class="input-group">
                                                <input type="number"
                                                       class="form-control form-number"
                                                       form-number-el="parent"
                                                       name="credit" value="{{ object.credit }}"
                                                       placeholder="{% trans "Credit Amount" %}"
                                                       id="credit" required>
                                                <div class="input-group-append">
                                                    <select name="credit_currency_code"
                                                            class="form-select js-select2 select-by-value"
                                                            value="{{ object.credit_currency_code }}">
                                                        {% for currency in currencies %}
                                                            <option value="{{ currency.code }}">
                                                                ({{ currency.symbol }}){{ currency.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% include 'public/components/object_link/field.html' %}
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label"
                                               for="attach_file">{% trans 'Attach File' %}</label>
                                        <div class="form-control-wrap">
                                            <div class="form-file">
                                                <input type="file" name="attached_file"
                                                       class="form-file-input"
                                                       id="attach_file">
                                                <label class="form-file-label"
                                                       for="attach_file">{% trans 'File' %}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label"
                                               for="description">{% trans "Description" %}</label>
                                        <div class="form-control-wrap">
                                                                <textarea class="form-control" name="description"
                                                                          id="description"
                                                                          placeholder="{% trans "Description" %}">{{ object.description|default:'' }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-left">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-lg btn-primary">
                                            {% trans "Update" %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modals -->
    </div>
    {% render_partial 'apps.public.partial_views.ObjectLinkView' form_id="form-update" %}
{% endblock %}

{% block Script %}
    <script src="{% static 'js/object-link.js' %}"></script>
{% endblock %}