{% extends 'base/base_template.html' %}
{% load static i18n %}

{% block Title %}
    {% trans "Journal Line List" %}
{% endblock %}

{% block BodyClass %}
    has-rtl nk-body ui-rounder has-sidebar no-touch nk-nio-theme
{% endblock %}

{% block Content %}
    <div class="nk-app-root">
        <div class="nk-main">
            {% include 'base/components/menu.html' %}
            <div class="nk-wrap">
                {% include 'base/components/header.html' %}
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-xl">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between g-3">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">{% trans "Journal Line List" %}</h3>
                                        <nav>
                                            <ul class="breadcrumb breadcrumb-arrow">
                                                <li class="breadcrumb-item"><a
                                                        href="{% url 'public:index' %}">{% trans "Home Page" %}</a></li>
                                                <li class="breadcrumb-item"><a>{% trans "Journal Lines" %}</a></li>
                                                <li class="breadcrumb-item active">{% trans "Journal Line List" %}</li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="nk-block-head-content">
                                        <div class="toggle-wrap nk-block-tools-toggle">
                                            <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                               data-target="pageMenu">
                                                <em class="icon ni ni-menu-alt-r"></em>
                                            </a>
                                            <div class="toggle-expand-content" data-content="pageMenu">
                                                <ul class="nk-block-tools g-3">
                                                    <li>
                                                        <a href="#" class="btn btn-white btn-dim btn-outline-light">
                                                            <em class="icon ni ni-download-cloud"></em>
                                                            <span>{% trans "Export" %}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% with qs=request.GET %}
                                <div class="nk-block">
                                    <div class="card card-stretch">
                                        <div class="card-inner-group">
                                            <div class="card-inner">
                                                <div class="card-title-group">
                                                    <div class="card-title">
                                                        <h5 class="title">
                                                            {% trans "Journal Line List" %}
                                                            <span class="fs-15px">({{ data_count }})</span>
                                                        </h5>
                                                    </div>
                                                    <div class="card-tools me-n1">
                                                        <ul class="btn-toolbar gx-1">
                                                            <li>
                                                                <div class="dropdown">
                                                                    <a href="#"
                                                                       class="btn btn-trigger btn-icon dropdown-toggle"
                                                                       data-bs-toggle="dropdown" aria-expanded="false">
                                                                        {% if qs.filter %}
                                                                            <div class="dot dot-primary"></div>
                                                                        {% endif %}
                                                                        <em class="icon ni ni-filter-alt"></em>
                                                                    </a>
                                                                    <div class="filter-wg dropdown-menu dropdown-menu-xl dropdown-menu-end">
                                                                        <div class="dropdown-head">
                                                                            <span class="sub-title dropdown-title">{% trans "Advanced Filter" %}</span>
                                                                        </div>
                                                                        <div class="dropdown-body dropdown-body-rg">
                                                                            <form class="add-params-to-form">
                                                                                <input type="hidden" name="filter"
                                                                                       value="true">
                                                                                <div class="row gx-6 gy-4">
                                                                                    <div class="col-12">
                                                                                        <div class="form-group">
                                                                                            <label class="overline-title overline-title-alt">{% trans "Sort By" %}</label>
                                                                                            <select class="form-select js-select2 select-by-filter"
                                                                                                    name="sort_by"
                                                                                                    tabindex="-1"
                                                                                                    aria-hidden="true">
                                                                                                <option value="latest">{% trans "Latest" %}</option>
                                                                                                <option value="oldest">{% trans "Oldest" %}</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 text-left">
                                                                                        <div class="form-group">
                                                                                            <button type="submit"
                                                                                                    class="btn btn-secondary">{% trans "Filter" %}</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                        <div class="dropdown-foot between">
                                                                            <a class="clickable"
                                                                               href="{% url 'accounting:journal_line__list' %}">{% trans "Reset Filter" %}</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <a href="#"
                                                                   class="search-toggle toggle-search btn btn-icon"
                                                                   data-target="search">
                                                                    <em class="icon ni ni-search"></em>
                                                                    {% if qs.search %}
                                                                        <div class="dot dot-primary"></div>
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-search search-wrap" data-search="search">
                                                        <div class="search-content">
                                                            <form class="add-params-to-form">
                                                                <a href="#"
                                                                   class="search-back btn btn-icon toggle-search"
                                                                   data-target="search"><em
                                                                        class="icon ni ni-arrow-left"></em></a>
                                                                <input type="text" name="search"
                                                                       class="form-control border-transparent form-focus-none"
                                                                       placeholder="{% trans 'Quick search by name' %}"
                                                                       value="{{ qs.search }}">
                                                                <button class="search-submit btn btn-icon"><em
                                                                        class="icon ni ni-search"></em></button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-inner p-0">
                                                {% include 'accounting/journal_line/components/list-items.html' with journal_lines=data %}
                                            </div>

                                            {% include 'base/components/list-pagination.html' %}
                                        </div>
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                </div>
                {% include 'base/components/footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}
