{% extends 'base/base_template.html' %}
{% load static %}
{% load i18n %}

{% block Title %}
    {% trans "Asset Detail" %} {{ object.name }}
{% endblock %}

{% block BodyClass %}
    has-rtl nk-body ui-rounder has-sidebar no-touch nk-nio-theme
{% endblock %}

{% block Content %}
    <div class="nk-app-root">
        <div class="nk-main">
            {% include 'base/components/menu.html' %}
            <div class="nk-wrap">
                {% include 'base/components/header.html' %}
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-xl">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between g-3">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">
                                            {% trans "Asset Detail" %}
                                            <b>{{ object.name }}</b>
                                        </h3>
                                        <nav>
                                            <ul class="breadcrumb breadcrumb-arrow">
                                                <li class="breadcrumb-item"><a
                                                        href="{% url 'public:index' %}">{% trans "Home Page" %}</a></li>
                                                <li class="breadcrumb-item"><a>{% trans "Assets" %}</a></li>
                                                <li class="breadcrumb-item">
                                                    <a href="{% url 'accounting:assets_fixed__list' %}">
                                                        {% trans "List of Assets" %}
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item"><a>{{ object.name }}</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="nk-block-head-content d-flex justify-content-between gx-1">
                                        <div class="dropdown">
                                            <button class="btn btn-outline-light bg-white d-none d-sm-inline-flex dropdown-toggle"
                                                    data-bs-toggle="dropdown">
                                                <span>{% trans "Actions" %}</span>
                                                <em class="icon ni ni-setting"></em>
                                            </button>
                                            <button class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none dropdown-toggle"
                                                    data-bs-toggle="dropdown">
                                                <em class="icon ni ni-setting"></em>
                                            </button>
                                            <div class="dropdown-menu">
                                                <ul class="link-list-opt">
                                                    <li data-bs-toggle="modal" data-bs-target="#modal-update-object">
                                                        <a class="d-flex justify-content-between text-info">
                                                            <span>{% trans "Edit" %}</span>
                                                            <em class="icon ni ni-pen2"></em>
                                                        </a>
                                                    </li>
                                                    <li data-bs-toggle="modal" data-bs-target="#modal-delete-object">
                                                        <a class="d-flex justify-content-between text-danger">
                                                            <span>{% trans "Delete" %}</span>
                                                            <em class="icon ni ni-trash-empty"></em>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="d-none">
                                            <button data-bs-toggle="modal" data-bs-target="#modal-create-status-object"
                                                    class="btn btn-outline-success bg-success text-white d-none d-sm-inline-flex">
                                                <span>{% trans "Create Status" %}</span>
                                                <em class="icon ni ni-property-add"></em>
                                            </button>
                                            <button data-bs-toggle="modal" data-bs-target="#modal-create-status-object"
                                                    class="btn btn-icon btn-outline-success bg-success text-white d-inline-flex d-sm-none">
                                                <em class="icon ni ni-property-add"></em>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-block">
                                <div class="row gy-5">
                                    <div class="col-lg-7">
                                        <div class="nk-block-head">
                                            <div class="nk-block-head-content">
                                                <h5 class="nk-block-title title">{% trans "Basic Information" %}</h5>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <ul class="data-list is-compact">
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Name" %}</div>
                                                        <div class="data-value">{{ object.name }}</div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Acquisition Date" %}</div>
                                                        <div class="data-value">
                                                            <span class="badge badge-dim badge-sm bg-primary">{{ object.acquisition_date }}</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Cost" %}</div>
                                                        <div class="data-value">
                                                            <span class="badge badge-sm bg-secondary">
                                                                <span class="price-el">{{ object.cost }}</span>
                                                                &nbsp;
                                                                <span class="currency-label"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Asset Account" %}</div>
                                                        <div class="data-value">
                                                            {% if object.asset_account %}
                                                                <a href="{{ object.asset_account.get_absolute_url }}">
                                                                    {{ object.asset_account }}
                                                                </a>
                                                            {% else %}
                                                                <em class="icon ni ni-cross-circle text-secondary"></em>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Depreciation Expense Account" %}</div>
                                                        <div class="data-value">
                                                            {% if object.depreciation_expense_account %}
                                                                <a href="{{ object.depreciation_expense_account.get_absolute_url }}">
                                                                    {{ object.depreciation_expense_account }}
                                                                </a>
                                                            {% else %}
                                                                <em class="icon ni ni-cross-circle text-secondary"></em>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Accumulated Depreciation Account" %}</div>
                                                        <div class="data-value">
                                                            {% if object.accumulated_depreciation_account %}
                                                                <a href="{{ object.accumulated_depreciation_account.get_absolute_url }}">
                                                                    {{ object.accumulated_depreciation_account }}
                                                                </a>
                                                            {% else %}
                                                                <em class="icon ni ni-cross-circle text-secondary"></em>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Useful Life" %}</div>
                                                        <div class="data-value">
                                                            <span class="badge badge-dim badge-sm bg-info">
                                                                {{ object.useful_life }}
                                                                <span class="fs-12px text-muted">{% trans "Months" %}</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Monthly Depreciation Cost" %}</div>
                                                        <div class="data-value">
                                                            <span class="badge badge-sm bg-secondary">
                                                                <span class="price-el">{{ object.monthly_depreciation }}</span>
                                                                &nbsp;
                                                                  <span class="currency-label"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Created At" %}</div>
                                                        <div class="data-value datetime-convert">
                                                            {{ object.get_created_at|default:'-' }}
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans "Description" %}</div>
                                                        <div class="data-value">
                                                            <pre>{{ object.description|default:'-' }}</pre>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="nk-block-head">
                                            <div class="nk-block-head-content">
                                                <h5 class="nk-block-title title">{% trans "Periodic Depreciations" %}</h5>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <ul class="data-list is-compact">
                                                {% for depreciation in object.get_depreciations %}
                                                    <li class="data-item">
                                                        <div class="data-col">
                                                            <div class="data-label">
                                                                <span class="font-70 text-muted">{{ depreciation.get_created_at }}</span>
                                                            </div>
                                                            <div class="data-value">
                                                                <span class="price-el">{{ depreciation.amount }}</span>
                                                                <span class="currency-label"></span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% empty %}
                                                    <div class="p-2">
                                                        <div class="container-not-found-base">
                                                            <p>{% trans "No items found" %}</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </ul>
                                            <div class="border-light border-top">
                                                <ul class="data-list is-compact">
                                                    <li class="data-item">
                                                        <div class="data-col">
                                                            <div class="data-label">
                                                                 {% trans 'Total' %}
                                                            </div>
                                                            <div class="data-value fs-17px">
                                                                <span class="price-el">{{ object.get_total_depreciations }}</span>
                                                                <span class="currency-label"></span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'base/components/footer.html' %}
            </div>
        </div>

        <!-- Delete Modal -->
        <div class="modal fade" tabindex="-1" id="modal-delete-object" aria-modal="true" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body modal-body-lg text-center">
                        <div class="nk-modal">
                            <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-trash-empty bg-danger"></em>
                            <h4 class="nk-modal-title">{% trans "Delete Asset" %}</h4>
                            <div class="nk-modal-text">
                                {% blocktrans with asset_name=object.name %}
                                    Are you sure you want to delete asset
                                    <b>{{ asset_name }}</b>
                                    ? All related records will be deleted and this action cannot be undone.
                                {% endblocktrans %}
                            </div>
                            <div class="nk-modal-action mt-5">
                                <a class="btn btn-lg btn-mw btn-light m-1"
                                   data-bs-dismiss="modal">{% trans "Cancel" %}</a>
                                <a href="{% url 'accounting:assets_fixed__delete' pk=object.id %}"
                                   class="btn btn-lg btn-mw btn-danger m-1">{% trans "Yes, Delete Asset" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Update Modal -->
        <div class="modal fade" tabindex="-1" id="modal-update-object">
            <div class="modal-dialog modal-dialog-top" role="document">
                <div class="modal-content">
                    <a href="#" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}">
                        <em class="icon ni ni-cross"></em>
                    </a>
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans "Edit" %}</h5>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'accounting:assets_fixed__update' pk=object.id %}"
                              class="form-validate is-alter" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row g-4">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="name">{% trans "Name" %}</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" name="name"
                                                   placeholder="{% trans "Asset Name" %}"
                                                   id="name" required value="{{ object.name|default:'' }}">
                                        </div>
                                    </div>
                                </div>
                                {% if object.parent %}
                                    <div class="col-12 d-none">
                                        <div class="form-group">
                                            <label class="form-label" for="code">{% trans "Parent" %}</label>
                                            <div class="form-control-wrap">
                                                <select id="parent" name="parent"
                                                        class="form-select js-select2 select-by-value"
                                                        value="{{ object.parent.id }}" data-search="on">
                                                    {% for account in accounts %}
                                                        <option value="{{ account.id }}">{{ account.name }}
                                                            | {{ account.code }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-12 d-none">
                                    <div class="form-group">
                                        <label class="form-label" for="is_active">{% trans "Status" %}</label>
                                        <div class="form-control-wrap">
                                            <select id="is_active" name="is_active"
                                                    class="form-select js-select2 select-by-value"
                                                    value="{{ object.is_active }}" data-search="on">
                                                <option value="true">{% trans "Active" %}</option>
                                                <option value="false">{% trans "Inactive" %}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="description">{% trans "Description" %}</label>
                                        <div class="form-control-wrap">
                                            <textarea name="description" id="description"
                                                      class="form-control"
                                                      placeholder="{% trans "Description" %}">{{ object.description|default:'' }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-left">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-lg btn-primary">
                                            {% trans "Update" %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
