{% load i18n %}
<div class="nk-footer nk-auth-footer-full mt-5">
    <div class="container wide-lg">
        <div class="row g-3">
            <div class="col-lg-6 order-lg-last">
                <ul class="nav nav-sm justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'public:index' %}">{% trans 'Home Page' %}</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="nk-block-content text-center text-lg-left">
                    <p class="text-soft">
                        2025
                        ©
                        {% trans 'All rights reserved.' %}
                        <span class="badge  bg-success fs-12px">v0.0.2</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>