{% load static %}
{% load i18n %}

<div class="nk-aside" data-content="sidebarMenu" data-content="sideNav" data-toggle-overlay="true"
     data-toggle-screen="lg" data-toggle-body="true">
    <div class="nk-sidebar-element pt-2">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    <!-- .nk-menu-item -->
                    <li class="nk-menu-heading">
                        <h6 class="overline-title text-primary-alt">{% trans 'Menu and Sections' %}</h6>
                    </li>
                    <!-- .nk-menu-heading -->
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-wallet"></em></span>
                            <span class="nk-menu-text">{% trans 'Petty Cash Funds' %}</span>
                        </a>
                        <ul class="nk-menu-sub">

                            {% if perms.accounting.add_pettycashfund %}
                                <li class="nk-menu-item">
                                    <a href="{% url 'accounting:petty_cash_fund__create' %}" class="nk-menu-link">
                                        <span class="nk-menu-text">{% trans 'Create Fund' %}</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if perms.accounting.view_pettycashfund %}
                                <li class="nk-menu-item">
                                    <a href="{% url 'accounting:petty_cash_fund__list' %}" class="nk-menu-link">
                                        <span class="nk-menu-text">{% trans 'Fund List' %}</span>
                                    </a>
                                </li>
                            {% endif %}

                            {#                            {% if perms.accounting.view_pettycashholder %}#}
                            {#                                <li class="nk-menu-item">#}
                            {#                                    <a href="{% url 'accounting:petty_cash_holder__list' %}" class="nk-menu-link">#}
                            {#                                        <span class="nk-menu-text">{% trans 'Fund Holders' %}</span>#}
                            {#                                    </a>#}
                            {#                                </li>#}
                            {#                            {% endif %}#}

                        </ul>
                    </li>
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-tile-thumb"></em></span>
                            <span class="nk-menu-text">{% trans 'Transactions' %}</span>
                        </a>
                        <ul class="nk-menu-sub">
                            {% if perms.accounting.add_pettycashtransaction %}
                                <li class="nk-menu-item">
                                    <a href="{% url 'accounting:petty_cash_transaction__create' %}"
                                       class="nk-menu-link"><span
                                            class="nk-menu-text">{% trans 'Create Transaction' %}</span></a>
                                </li>
                            {% endif %}
                            {% if perms.accounting.view_pettycashtransaction %}
                                <li class="nk-menu-item">
                                    <a href="{% url 'accounting:petty_cash_transaction__list' %}"
                                       class="nk-menu-link"><span
                                            class="nk-menu-text">{% trans 'List Transaction' %}</span></a>
                                </li>
                            {% endif %}
                        </ul>
                        <!-- .nk-menu-sub -->
                    </li>
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-files"></em></span>
                            <span class="nk-menu-text">{% trans 'Documents' %}</span>
                        </a>
                        <ul class="nk-menu-sub">
                            {% if perms.accounting.add_document %}
                                <li class="nk-menu-item">
                                    <a href="{% url 'accounting:document__create' %}" class="nk-menu-link">
                                        <span class="nk-menu-text">{% trans 'Upload Document' %}</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if perms.accounting.view_document %}
                                <li class="nk-menu-item">
                                    <a href="{% url 'accounting:document__list' %}" class="nk-menu-link">
                                        <span class="nk-menu-text">{% trans 'Document List' %}</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                            <span class="nk-menu-text">{% trans 'Users' %}</span>
                        </a>
                        <ul class="nk-menu-sub">
                            {% if perms.account.add_user %}
                                <li class="nk-menu-item">
                                    <a href="{% url 'account:user__create' %}" class="nk-menu-link"><span
                                            class="nk-menu-text">{% trans 'Create User' %}</span></a>
                                </li>
                            {% endif %}
                            {% if perms.account.view_user %}
                                <li class="nk-menu-item">
                                    <a href="{% url 'account:user__list' %}" class="nk-menu-link"><span
                                            class="nk-menu-text">{% trans 'List of Users' %}</span></a>
                                </li>
                            {% endif %}
                            {% if perms.auth.view_permission %}
                                <li class="nk-menu-item">
                                    <a href="{% url 'account:permissions' %}" class="nk-menu-link">
                                                <span class="nk-menu-text">
                                                    {% trans 'Permissions' %}
                                                </span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    <!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="{% url 'public:index' %}#" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-home"></em></span>
                            <span class="nk-menu-text">{% trans 'Home Page' %}</span>
                        </a>
                    </li>
                    <!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="{% url 'account:user_profile' %}" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-info"></em></span>
                            <span class="nk-menu-text">{% trans 'Personal Profile' %}</span>
                        </a>
                    </li>
                    <!-- .nk-menu-item -->
                    <li class="nk-menu-item" style="background: rgba(255,182,185,0.1);border-radius: 5px">
                        <a href="{% url 'account:logout' %}" class="nk-menu-link" style="color: #ff4845">
                            <span class="nk-menu-icon"><em class="icon ni ni-signout"
                                                           style="color: #ff4845"></em></span>
                            <span class="nk-menu-text">{% trans 'Logout' %}</span>
                        </a>
                    </li>
                </ul>
                <!-- .nk-menu -->
            </div>

            <!-- .nk-sidebar-menu -->
        </div>
        <!-- .nk-sidebar-content -->
    </div>
</div>
