{% extends 'base/base_template.html' %}
{% load static i18n %}

{% block Title %}
    {% trans "Petty Cash Transaction Detail" %} - {{ object }}
{% endblock %}

{% block BodyClass %}
    has-rtl nk-body bg-white npc-default has-aside
{% endblock %}

{% block Content %}
    <div class="nk-app-root">
        <div class="nk-main">
            <div class="nk-wrap">
                {% include 'base/components/header.html' %}
                <div class="nk-content">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            {% include 'base/components/menu.html' %}
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between g-3">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">
                                                {% trans "Transaction Detail" %}
                                                <b>{{ object.reference_number|default:object.id }}</b>
                                            </h3>
                                            <nav>
                                                <ul class="breadcrumb breadcrumb-arrow">
                                                    <li class="breadcrumb-item"><a
                                                            href="{% url 'public:index' %}">{% trans "Home Page" %}</a>
                                                    </li>
                                                    <li class="breadcrumb-item"><a
                                                            href="{% url 'accounting:petty_cash_transaction__list' %}">{% trans "Transactions" %}</a>
                                                    </li>
                                                    <li class="breadcrumb-item active">{{ object.reference_number|default:object.id }}</li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <div class="nk-block-head-content d-flex justify-content-between gx-1">
                                            <div class="dropdown">
                                                <button class="btn btn-outline-light bg-white d-none d-sm-inline-flex dropdown-toggle"
                                                        data-bs-toggle="dropdown">
                                                    <span>{% trans "Actions" %}</span>
                                                    <em class="icon ni ni-setting"></em>
                                                </button>
                                                <button class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none dropdown-toggle"
                                                        data-bs-toggle="dropdown">
                                                    <em class="icon ni ni-setting"></em>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <ul class="link-list-opt">
                                                        {% if not object.is_approved and perms.accounting.add_pettycashtransactionstatus %}
                                                            <li data-bs-toggle="modal"
                                                                data-bs-target="#modal-create-status">
                                                                <a class="d-flex justify-content-between text-success">
                                                                    <span>{% trans "Create Status" %}</span>
                                                                    <em class="icon ni ni-check-round-cut"></em>
                                                                </a>
                                                            </li>
                                                        {% endif %}

                                                        {% if perms.accounting.change_pettycashtransaction and not object.is_approved %}
                                                            <li data-bs-toggle="modal"
                                                                data-bs-target="#modal-edit-transaction">
                                                                <a class="d-flex justify-content-between text-info">
                                                                    <span>{% trans "Edit" %}</span>
                                                                    <em class="icon ni ni-pen2"></em>
                                                                </a>
                                                            </li>
                                                        {% endif %}

                                                        {% if perms.accounting.add_pettycashtransactiondocument %}
                                                            <li data-bs-toggle="modal"
                                                                data-bs-target="#modal-add-attachment">
                                                                <a class="d-flex justify-content-between text-purple">
                                                                    <span>{% trans "Add File" %}</span>
                                                                    <em class="icon ni ni-file-docs"></em>
                                                                </a>
                                                            </li>
                                                        {% endif %}

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-block">
                                    <div class="row gy-5">
                                        <div class="col-12 col-lg-6">
                                            <div class="nk-block-head">
                                                <div class="nk-block-head-content">
                                                    <h5 class="nk-block-title title">{% trans "Basic Information" %}</h5>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <ul class="data-list is-compact">
                                                    <li class="data-item">
                                                        <div class="data-col">
                                                            <div class="data-label">{% trans "Fund" %}</div>
                                                            <div class="data-value">
                                                                <a href="{{ object.fund.get_absolute_url }}">{{ object.fund.title }}</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="data-item">
                                                        <div class="data-col">
                                                            <div class="data-label">{% trans "Holder" %}</div>
                                                            <div class="data-value">
                                                                <a href="{{ object.holder.get_absolute_url }}">
                                                                    {{ object.holder.user.get_full_name|default:object.holder.user.username }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="data-item">
                                                        <div class="data-col">
                                                            <div class="data-label">{% trans "Created By" %}</div>
                                                            <div class="data-value">
                                                                <a href="{{ object.created_by.get_absolute_url }}">
                                                                    {{ object.created_by.get_full_name|default:object.created_by.username }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="data-item">
                                                        <div class="data-col">
                                                            <div class="data-label">{% trans "Transaction Type" %}</div>
                                                            <div class="data-value">
                                                                {% if object.transaction_type == 'income' %}
                                                                    <span class="badge badge-dim bg-success">{% trans "Income" %}</span>
                                                                {% else %}
                                                                    <span class="badge badge-dim bg-danger">{% trans "Expense" %}</span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="data-item">
                                                        <div class="data-col">
                                                            <div class="data-label">{% trans "Amount" %}</div>
                                                            <div class="data-value" dir="ltr">
                                                                <strong class="price-el">{{ object.amount }}</strong>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="data-item">
                                                        <div class="data-col">
                                                            <div class="data-label">{% trans "Reference Number" %}</div>
                                                            <div class="data-value">{{ object.reference_number|default:"-" }}</div>
                                                        </div>
                                                    </li>
                                                    <li class="data-item">
                                                        <div class="data-col">
                                                            <div class="data-label">{% trans "Transaction Date" %}</div>
                                                            <div class="data-value">
                                                                {% if object.date %}
                                                                    <span class="badge badge-dim bg-info">{{ object.date }}</span>
                                                                {% else %}
                                                                    -
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="data-item">
                                                        <div class="data-col">
                                                            <div class="data-label">{% trans "Created At" %}</div>
                                                            <div class="data-value">
                                                                <span class="datetime-convert">
                                                                   {{ object.get_created_at }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="data-item">
                                                        <div class="data-col">
                                                            <div class="data-label">{% trans "Description" %}</div>
                                                            <div class="data-value">
                                                                <pre>{{ object.description|default:"—" }}</pre>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-12 col-lg-6 statuses-box">
                                            <div class="nk-block-head d-flex justify-content-between align-items-center">
                                                <div class="nk-block-head-content">
                                                    <h5 class="nk-block-title title">
                                                        {% trans "Statuses" %}
                                                        {% if object.is_approved %}
                                                            <span class="text-success p-1">
                                            (<span>{% trans "Approved" %}</span>
                                            <em class="icon ni ni-check-circle"></em>)
                                        </span>
                                                        {% else %}
                                                            <span class="text-warning p-1">
                                            (<span>{% trans "UnConfirmed" %}</span>
                                            <em class="icon ni ni-cross-circle"></em>)
                                        </span>
                                                        {% endif %}
                                                    </h5>
                                                </div>
                                                {% if not object.is_approved and perms.accounting.add_pettycashtransactionstatus %}
                                                    <button class="btn btn-outline-success btn-create-status" data-bs-toggle="modal"
                                                            data-bs-target="#modal-create-status">
                                                        <span>{% trans "Create Status" %}</span>
                                                        <em class="icon ni ni-check-round-cut"></em>
                                                    </button>
                                                {% endif %}
                                            </div>
                                            <div class="nk-block">
                                                <div class="card card-stretch">
                                                    <div class="card-inner-group">
                                                        <div class="card-inner p-4">
                                                            <div class="nk-tb-list nk-tb-tnx">
                                                                <div class="nk-tb-item nk-tb-head text-center">
                                                                    <div class="nk-tb-col">
                                                                        <span>{% trans "Created By" %}</span></div>
                                                                    <div class="nk-tb-col">
                                                                        <span>{% trans "Status" %}</span></div>
                                                                    <div class="nk-tb-col">
                                                                        <span>{% trans "Note" %}</span></div>
                                                                    <div class="nk-tb-col">
                                                                        <span>{% trans "Created At" %}</span></div>
                                                                </div>
                                                                {% for status in object.statuses %}
                                                                    <div class="nk-tb-item text-center">
                                                                        <div class="nk-tb-col">
                                                                            <a href="{{ status.created_by.get_absolute_url }}">
                                                                                {{ status.created_by.get_full_name|default:status.created_by.username }}
                                                                            </a>
                                                                        </div>
                                                                        <div class="nk-tb-col">
                                                                            {% if status.status == 'approved' %}
                                                                                <span class="badge badge-dim bg-success">{% trans "Approved" %}</span>
                                                                            {% elif status.status == 'rejected' %}
                                                                                <span class="badge badge-dim bg-danger">{% trans "Rejected" %}</span>
                                                                            {% else %}
                                                                                <span class="badge badge-dim bg-warning">{% trans "Pending" %}</span>
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="nk-tb-col" data-bs-toggle="tooltip"
                                                                             data-bs-placement="bottom"
                                                                             data-bs-original-title="{{ status.note|default:"—" }}">
                                                                            {{ status.note|truncatechars:'20'|default:"-" }}
                                                                        </div>
                                                                        <div class="nk-tb-col">
                                                                            <span class="datetime-convert font-80">
                                                                                {{ status.get_created_at }}
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                {% empty %}
                                                                    <div class="nk-tb-item text-center">
                                                                        <div class="nk-tb-col">{% trans "No status recorded yet." %}</div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gy-5 mt-2">
                                        <div class="col-12 attached-files-box">
                                            <div class="nk-block-head d-flex justify-content-between align-items-center">
                                                <div class="nk-block-head-content">
                                                    <h5 class="nk-block-title title">{% trans "Attached Files" %}</h5>
                                                </div>
                                                {% if perms.accounting.add_pettycashtransactiondocument %}
                                                    <button class="btn btn-outline-primary btn-attach-file" data-bs-toggle="modal"
                                                            data-bs-target="#modal-add-attachment">
                                                        <em class="icon ni ni-plus"></em>
                                                        <span>{% trans "Add File" %}</span>
                                                    </button>
                                                {% endif %}
                                            </div>
                                            <div class="nk-block">
                                                <div class="card card-stretch">
                                                    <div class="card-inner-group">
                                                        <div class="card-inner p-2">
                                                            <div class="nk-tb-list nk-tb-tnx">
                                                                <div class="nk-tb-item nk-tb-head text-center">
                                                                    <div class="nk-tb-col">
                                                                        <span>{% trans "Created By" %}</span></div>
                                                                    <div class="nk-tb-col">
                                                                        <span>{% trans "Title" %}</span></div>
                                                                    <div class="nk-tb-col">
                                                                        <span>{% trans "Uploaded At" %}</span></div>
                                                                    <div class="nk-tb-col nk-tb-col-tools"></div>
                                                                </div>

                                                                {% for doc in object.files %}
                                                                    <div class="nk-tb-item text-center">
                                                                        <div class="nk-tb-col">
                                                                            <span data-bs-toggle="tooltip"
                                                                                  data-bs-placement="bottom"
                                                                                  data-bs-original-title="{{ doc.created_by.get_full_name }}">
                                                                                <a href="{{ doc.created_by.get_absolute_url }}">
                                                                                    {{ doc.created_by.get_full_name|truncatechars:'20'|default:"-" }}
                                                                                </a>
                                                                            </span>
                                                                        </div>
                                                                        <div class="nk-tb-col">
                                                                            <span data-bs-toggle="tooltip"
                                                                                  data-bs-placement="bottom"
                                                                                  data-bs-original-title="{{ doc.title|default:'-' }}">
                                                                                {% if doc.title %}
                                                                                    {{ doc.title|truncatechars:'20' }}
                                                                                {% else %}
                                                                                    <em class="icon ni ni-cross text-warning"></em>
                                                                                {% endif %}
                                                                            </span>
                                                                        </div>
                                                                        <div class="nk-tb-col">
                                                                            <span class="datetime-convert">
                                                                                {{ doc.get_created_at }}
                                                                            </span>
                                                                        </div>
                                                                        <div class="nk-tb-col nk-tb-col-tools">
                                                                            <a href="{{ doc.get_file_url }}"
                                                                               target="_blank"
                                                                               class="btn btn-icon btn-trigger"
                                                                               title="{% trans 'Download/View' %}">
                                                                                <em class="icon ni ni-download"></em>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                {% empty %}
                                                                    <div class="nk-tb-item text-center">
                                                                        <div class="nk-tb-col">
                                                                            <em class="icon ni ni-cross text-secondary"></em>
                                                                            <span class="text-muted ms-2">{% trans "No file attached" %}</span>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'base/components/footer.html' %}
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-create-status" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Create Status" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'accounting:petty_cash_transaction_status__create' %}" method="post"
                      class="form-validate is-alter">
                    {% csrf_token %}
                    <input type="hidden" name="transaction" value="{{ object.id }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-label" for="status">{% trans "Status" %}</label>
                            <select name="status" id="status" class="form-control form-select" required>
                                <option value="approved">{% trans "Approved" %}</option>
                                <option value="rejected">{% trans "Rejected" %}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="note">{% trans "Note" %}</label>
                            <textarea name="note" id="note" class="form-control"
                                      placeholder="{% trans 'Optional note' %}" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                        <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-edit-transaction" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Edit Transaction" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'accounting:petty_cash_transaction__update' object.id %}" method="post"
                      enctype="multipart/form-data" class="form-validate is-alter">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row g-4">
                            <div class="col-lg-6 d-none">
                                <div class="form-group">
                                    <label class="form-label" for="fund">{% trans "Petty Cash Fund" %}</label>
                                    <select name="fund" id="fund" class="form-control form-select js-select2" required>
                                        {% for fund in petty_cash_funds %}
                                            <option value="{{ fund.id }}"
                                                    {% if object.fund.id == fund.id %}selected{% endif %}>{{ fund.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 d-none">
                                <div class="form-group">
                                    <label class="form-label" for="holder">{% trans "Holder" %}</label>
                                    <select name="holder" id="holder" class="form-control form-select js-select2"
                                            required>
                                        {% for holder in petty_cash_holders %}
                                            <option value="{{ holder.id }}"
                                                    {% if object.holder.id == holder.id %}selected{% endif %}>{{ holder.user.get_full_name|default:holder.user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label"
                                           for="transaction_type">{% trans "Transaction Type" %}</label>
                                    <select name="transaction_type" id="transaction_type"
                                            class="form-control form-select" required>
                                        <option value="income"
                                                {% if object.transaction_type == 'income' %}selected{% endif %}>{% trans "Income" %}</option>
                                        <option value="expense"
                                                {% if object.transaction_type == 'expense' %}selected{% endif %}>{% trans "Expense" %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label" for="amount">{% trans "Amount" %}</label>
                                    <input type="number" step="0.01" min="0" name="amount" id="amount" disabled
                                           class="form-control" value="{{ object.amount }}" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label"
                                           for="reference_number">{% trans "Reference Number" %}</label>
                                    <input type="text" name="reference_number" id="reference_number"
                                           class="form-control" value="{{ object.reference_number }}">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label" for="date">{% trans "Transaction Date" %}</label>
                                    <input type="text" name="date" id="date" class="form-control date-picker-alt"
                                           value="{{ object.date }}" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label" for="description">{% trans "Description" %}</label>
                                    <textarea name="description" id="description" class="form-control"
                                              rows="3">{{ object.description }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                        <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-add-attachment" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Add Attached File" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'accounting:petty_cash_transaction__create_attachment_doc' %}" method="post"
                      enctype="multipart/form-data" class="form-validate is-alter">
                    {% csrf_token %}
                    <input type="hidden" name="transaction" value="{{ object.id }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-label" for="attachment_title">{% trans "Title (Optional)" %}</label>
                            <input type="text" name="title" id="attachment_title" class="form-control"
                                   placeholder="{% trans 'e.g. Receipt, Invoice, Photo...' %}">
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% trans "File" %}</label>
                            <div class="form-file">
                                <input type="file" name="file" class="form-file-input" required>
                                <label class="form-file-label">{% trans "Choose file" %}</label>
                            </div>
                            <small class="form-text text-muted">{% trans "Supported formats: PDF, JPG, PNG, DOC, XLS, etc." %}</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                        <button type="submit" class="btn btn-primary">{% trans "Upload File" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block Script %}
    <script src="{% static 'js/tour/transaction__detail.js' %}"></script>
{% endblock %}