{% extends 'base/base_template.html' %}
{% load static %}
{% load i18n %}

{% block Title %}
    {% trans "Petty Cash Transactions" %}
{% endblock %}

{% block BodyClass %}
    has-rtl nk-body bg-white npc-default has-aside
{% endblock %}

{% block Content %}
    <div class="nk-app-root">
        <div class="nk-main">
            <div class="nk-wrap">
                {% include 'base/components/header.html' %}

                <div class="nk-content">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            {% include 'base/components/menu.html' %}

                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between g-3">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">{% trans "Petty Cash Transactions" %}</h3>
                                            <div class="nk-block-des text-soft">
                                                <p>{% blocktrans with total=pagination.paginator.count %}There are
                                                    {{ total }} transactions in total.{% endblocktrans %}</p>
                                            </div>
                                        </div>
                                        <div class="nk-block-head-content">
                                            <div class="toggle-wrap nk-block-tools-toggle">
                                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                                   data-target="pageMenu">
                                                    <em class="icon ni ni-menu-alt-r"></em>
                                                </a>
                                                <div class="toggle-expand-content" data-content="pageMenu">
                                                    <ul class="nk-block-tools g-3">
                                                        <li>
                                                            <a href="#" class="btn btn-white btn-outline-light">
                                                                <em class="icon ni ni-download-cloud"></em><span>{% trans "Export" %}</span>
                                                            </a>
                                                        </li>
                                                        <li class="nk-block-tools-opt">
                                                            <a href="{% url 'accounting:petty_cash_transaction__create' %}"
                                                               class="btn btn-primary">
                                                                <em class="icon ni ni-plus"></em><span>{% trans "Add Transaction" %}</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-block">
                                    <div class="card card-bordered card-stretch">
                                        <div class="card-inner-group">
                                            {% with qs=request.GET %}
                                                <div class="card-inner position-relative card-tools-toggle">
                                                    <div class="card-tools me-n1">
                                                        <ul class="btn-toolbar gx-1">
                                                            <li>
                                                                <div class="dropdown">
                                                                    <a href="#"
                                                                       class="btn btn-trigger btn-icon dropdown-toggle"
                                                                       data-bs-toggle="dropdown" aria-expanded="false">
                                                                        {% if qs.filter %}
                                                                            <div class="dot dot-primary"></div>
                                                                        {% endif %}
                                                                        <em class="icon ni ni-filter-alt"></em>
                                                                    </a>
                                                                    <div class="filter-wg dropdown-menu dropdown-menu-xl dropdown-menu-end">
                                                                        <div class="dropdown-head">
                                                                            <span class="sub-title dropdown-title">{% trans "Advanced Filter" %}</span>
                                                                        </div>
                                                                        <div class="dropdown-body dropdown-body-rg">
                                                                            <form class="add-params-to-form">
                                                                                <input type="hidden" name="filter"
                                                                                       value="true">
                                                                                <div class="row gx-6 gy-4">
                                                                                    <div class="col-12">
                                                                                        <div class="form-group">
                                                                                            <label class="overline-title overline-title-alt">{% trans "Sort By" %}</label>
                                                                                            <select class="form-select js-select2 select-by-filter"
                                                                                                    name="sort_by"
                                                                                                    tabindex="-1"
                                                                                                    aria-hidden="true">
                                                                                                <option value="latest">{% trans "Latest" %}</option>
                                                                                                <option value="oldest">{% trans "Oldest" %}</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12">
                                                                                        <div class="form-group">
                                                                                            <label class="overline-title overline-title-alt">{% trans "Fund" %}</label>
                                                                                            <select class="form-select js-select2 select-by-filter"
                                                                                                    name="fund"
                                                                                                    data-search="on"
                                                                                                    tabindex="-1"
                                                                                                    aria-hidden="true">
                                                                                                <option value="">{% trans "All" %}</option>
                                                                                                {% for fund in petty_cash_funds %}
                                                                                                    <option value="{{ fund.id }}">{{ fund.title }}</option>
                                                                                                {% endfor %}
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 text-left">
                                                                                        <div class="form-group">
                                                                                            <button type="submit"
                                                                                                    class="btn btn-secondary">{% trans "Filter" %}</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                        <div class="dropdown-foot between">
                                                                            <a class="clickable"
                                                                               href="{% url 'accounting:petty_cash_transaction__list' %}">{% trans "Reset Filter" %}</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <a href="#"
                                                                   class="search-toggle toggle-search btn btn-icon"
                                                                   data-target="search">
                                                                    <em class="icon ni ni-search"></em>
                                                                    {% if qs.search %}
                                                                        <div class="dot dot-primary"></div>
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-search search-wrap px-3" data-search="search">
                                                        <div class="search-content">
                                                            <form class="add-params-to-form">
                                                                <a href="#"
                                                                   class="search-back btn btn-icon toggle-search"
                                                                   data-target="search"><em
                                                                        class="icon ni ni-arrow-left"></em></a>
                                                                <input type="text" name="search"
                                                                       class="form-control border-transparent form-focus-none"
                                                                       placeholder="{% trans "Quick Search by Reference or Date" %}"
                                                                       value="{{ qs.search }}">
                                                                <button class="search-submit btn btn-icon"><em
                                                                        class="icon ni ni-search"></em></button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endwith %}

                                            <div class="card-inner p-0 text-center">
                                                <div class="nk-tb-list nk-tb-ulist is-compact">
                                                    <div class="nk-tb-item nk-tb-head">
                                                        <div class="nk-tb-col"><span
                                                                class="sub-text">{% trans "ID" %}</span></div>
                                                        <div class="nk-tb-col"><span
                                                                class="sub-text">{% trans "Date" %}</span></div>
                                                        <div class="nk-tb-col"><span
                                                                class="sub-text">{% trans "Fund" %}</span></div>
                                                        <div class="nk-tb-col"><span
                                                                class="sub-text">{% trans "Holder" %}</span></div>
                                                        <div class="nk-tb-col"><span
                                                                class="sub-text">{% trans "Type" %}</span></div>
                                                        <div class="nk-tb-col text-end"><span
                                                                class="sub-text">{% trans "Amount" %}</span></div>
                                                        <div class="nk-tb-col"><span
                                                                class="sub-text">{% trans "Reference" %}</span></div>
                                                        <div class="nk-tb-col"><span
                                                                class="sub-text">{% trans "Documents" %}</span></div>
                                                        <div class="nk-tb-col nk-tb-col-tools"></div>
                                                    </div>

                                                    {% for transaction in data %}
                                                        <div class="nk-tb-item">
                                                            <div class="nk-tb-col">
                                                        <span>
                                                            <a href="{{ transaction.get_absolute_url }}">{{ transaction.id }}</a>
                                                        </span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span>{{ transaction.date|default:'-' }}</span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span>{{ transaction.fund.title }}</span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                        <span>
                                                            <a href="{{ transaction.holder.get_absolute_url }}">
                                                                {{ transaction.holder.user.get_full_name|default:transaction.holder.user.username }}
                                                            </a>
                                                        </span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                {% if transaction.transaction_type == 'income' %}
                                                                    <span class="tb-status text-success">{% trans "Income" %}</span>
                                                                {% else %}
                                                                    <span class="tb-status text-danger">{% trans "Expense" %}</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="nk-tb-col text-end">
                                                                {% if transaction.transaction_type == 'income' %}
                                                                    <span class="text-success price-el">+{{ transaction.amount }}</span>
                                                                {% else %}
                                                                    <span class="text-danger price-el">-{{ transaction.amount }}</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span>{{ transaction.reference_number|default:"-" }}</span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="badge badge-dim fs-13px bg-info">{{ transaction.documents.count }}</span>
                                                            </div>
                                                            <div class="nk-tb-col nk-tb-col-tools">
                                                                <ul class="nk-tb-actions gx-1">
                                                                    <li>
                                                                        <a href="{{ transaction.get_absolute_url }}"
                                                                           class="btn btn-icon btn-trigger"
                                                                           data-bs-toggle="tooltip"
                                                                           data-bs-placement="bottom"
                                                                           title="{% trans 'View Details' %}">
                                                                            <em class="icon ni ni-eye"></em>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    {% empty %}
                                                        <div class="nk-tb-item">
                                                            <div class="nk-tb-col text-center" colspan="8">
                                                                <span>{% trans "No transactions found." %}</span>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            {% include 'base/components/list-pagination.html' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'base/components/footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}