{% extends 'base/base_template.html' %}
{% load static %}
{% load i18n %}

{% block Title %}
    {% trans 'Detail' %}
    {{ object.name }} - {{ object.code }}
{% endblock %}

{% block BodyClass %}
    has-rtl nk-body ui-rounder has-sidebar no-touch nk-nio-theme
{% endblock %}

{% block Content %}
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main">
            <!-- sidebar @s -->
            {% include 'base/components/menu.html' %}
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap">
                <!-- main header @s -->
                {% include 'base/components/header.html' %}
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-xl">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between g-3">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">
                                            {% trans 'Detail' %}
                                            <b>{{ object.name }}</b>
                                        </h3>
                                        <nav>
                                            <ul class="breadcrumb breadcrumb-arrow">
                                                <li class="breadcrumb-item"><a
                                                        href="{% url 'public:index' %}">{% trans 'Home Page' %}</a></li>
                                                <li class="breadcrumb-item"><a>{% trans 'Accounts' %}</a></li>
                                                <li class="breadcrumb-item">
                                                    <a href="{% url 'accounting:account__list' %}">
                                                        {% trans 'List of Accounts' %}
                                                    </a></li>
                                                <li class="breadcrumb-item"><a>{{ object.name }}</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- .nk-block-head-content -->
                                    <div class="nk-block-head-content d-flex justify-content-between gx-1">
                                        <div class="dropdown">
                                            <button
                                                    class="btn btn-outline-light bg-white d-none d-sm-inline-flex dropdown-toggle"
                                                    data-bs-toggle="dropdown">
                                                     <span>
                                                        {% trans 'Action' %}
                                                    </span>
                                                <em class="icon ni ni-setting"></em>
                                            </button>
                                            <button
                                                    class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none dropdown-toggle"
                                                    data-bs-toggle="dropdown">
                                                <em class="icon ni ni-setting">
                                                </em>
                                            </button>
                                            <div class="dropdown-menu">
                                                <ul class="link-list-opt">
                                                    {% if perms.accounting.change_account %}
                                                        <li data-bs-toggle="modal"
                                                            data-bs-target="#modal-update-object">
                                                            <a class="d-flex justify-content-between text-info">
                                                                <span>{% trans 'Edit' %}</span>
                                                                <em class="icon ni ni-pen2"></em>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                    {% if perms.accounting.delete_account %}
                                                        <li data-bs-toggle="modal"
                                                            data-bs-target="#modal-delete-object">
                                                            <a class="d-flex justify-content-between text-danger">
                                                                <span>{% trans 'Delete' %}</span>
                                                                <em class="icon ni ni-trash-empty"></em>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="d-none">
                                            <button data-bs-toggle="modal"
                                                    data-bs-target="#modal-create-status-object"
                                                    class="btn btn-outline-success bg-success text-white d-none d-sm-inline-flex">
                                                         <span>
                                                            {% trans 'Create Status' %}
                                                        </span>
                                                <em class="icon ni ni-property-add"></em>
                                            </button>
                                            <button data-bs-toggle="modal"
                                                    data-bs-target="#modal-create-status-object"
                                                    class="btn btn-icon btn-outline-success bg-success text-white d-inline-flex d-sm-none">
                                                <em
                                                        class="icon ni ni-property-add"></em></button>
                                        </div>

                                    </div>
                                    <!-- .nk-block-head-content -->
                                </div>
                                <!-- .nk-block-between -->
                            </div>
                            <div class="nk-block">
                                <div class="row gy-5">
                                    <div class="col-lg-7">
                                        <div class="nk-block-head">
                                            <div class="nk-block-head-content">
                                                <h5 class="nk-block-title title">{% trans 'Basic Information' %}</h5>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <ul class="data-list is-compact">
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans 'Name' %}</div>
                                                        <div class="data-value">{{ object.name }}</div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans 'Code' %}</div>
                                                        <div class="data-value">
                                                            <span class="badge badge-dim badge-sm bg-primary">{{ object.code }}</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans 'Parent' %}</div>
                                                        <div class="data-value">
                                                            {% if object.parent %}
                                                                <a href="{{ object.parent.get_absolute_url }}">
                                                                    {{ object.parent.name }} | {{ object.parent.code }}
                                                                </a>
                                                            {% else %}
                                                                <em class="icon ni ni-cross-circle text-secondary"></em>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans 'Object Linked' %}</div>
                                                        <div class="data-value">
                                                            {% if object.object_linked %}
                                                                {% if object.object_linked.get_absolute_url %}
                                                                    <a href="{{ object.object_linked.get_absolute_url }}">
                                                                        {{ object.get_object_linked_repr }}
                                                                    </a>
                                                                {% else %}
                                                                    <span class="badge badge-dim badge-sm bg-primary">
                                                                        {{ object.get_object_linked_repr }}
                                                                    </span>
                                                                {% endif %}
                                                            {% else %}
                                                                <em class="icon ni ni-cross-circle text-secondary"></em>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans 'Number of Sub-Accounts' %}</div>
                                                        <div class="data-value">
                                                            <span class="badge badge-dim badge-sm bg-info">{{ object.get_all_children.count }}</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans 'Number of Sub-Journal-Lines' %}</div>
                                                        <div class="data-value">
                                                            <span class="badge badge-dim badge-sm bg-info">{{ object.get_journal_lines.count }}</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans 'Status' %}</div>
                                                        <div class="data-value">
                                                            {% if object.is_active %}
                                                                <span class="badge badge-dim bg-success">{% trans 'Active' %}</span>
                                                            {% else %}
                                                                <span class="badge badge-dim bg-warning">{% trans 'Not Active' %}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans 'Created at' %}</div>
                                                        <div class="data-value datetime-convert">
                                                            {{ object.get_created_at|default:'-' }}
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">{% trans 'Description' %}</div>
                                                        <div class="data-value">
                                                            <pre>{{ object.description|default:'-' }}</pre>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- .col -->
                                    <div class="col-lg-5">
                                        <div class="col-lg-12">
                                            <div class="nk-block-head">
                                                <div class="nk-block-head-content">
                                                    <h5 class="nk-block-title title">{% trans 'Sub Accounts' %}</h5>
                                                </div>
                                            </div>
                                            <!-- .nk-block-head -->
                                            <div class="card">
                                                {% if children %}
                                                    <ul class="account-nodes">
                                                        {% for child in children %}
                                                            {% include "accounting/account/components/node.html" with node=child %}
                                                        {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    <div class="p-2">
                                                        <div class="container-not-found-base">
                                                            <p>{% trans 'Nothing Found' %}</p>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <!-- .card -->
                                        </div>
                                        <div class="col-lg-12 mt-3">
                                            <div class="nk-block-head">
                                                <div class="nk-block-head-content">
                                                    <h5 class="nk-block-title title">{% trans 'Balance Status' %}</h5>
                                                </div>
                                            </div>
                                            <!-- .nk-block-head -->
                                            <div class="card">
                                                <ul class="data-list is-compact">
                                                    <li class="data-item">
                                                        <div class="data-col">
                                                            <div class="data-label">{% trans 'Total Amount Received' %}</div>
                                                            <div class="data-value">
                                                                <div class="d-inline-block">
                                                                    <span class="price-el">{{ object.total_credit }}</span>
                                                                    <span class="currency-convert-label">{{ base_currency_code }}</span>
                                                                </div>
                                                                {% if object.get_credit_currency_diff %}
                                                                    <div class="d-inline-block badge badge-dim bg-warning badge-md">
                                                                        %<span
                                                                            class="price-el">{{ object.get_credit_currency_diff }}</span>
                                                                        <em class="ni ni-bar-chart"></em>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="data-item">
                                                        <div class="data-col">
                                                            <div class="data-label">{% trans 'Total Amount Owed' %}</div>
                                                            <div class="data-value">
                                                                <div class="d-inline-block">
                                                                    <span class="price-el">{{ object.total_debit }}</span>
                                                                    <span class="currency-convert-label">{{ base_currency_code }}</span>
                                                                </div>
                                                                {% if object.get_debit_currency_diff %}
                                                                    <div class="d-inline-block badge badge-dim bg-warning badge-md">
                                                                        %<span
                                                                            class="price-el">{{ object.get_debit_currency_diff }}</span>
                                                                        <em class="ni ni-bar-chart"></em>
                                                                    </div>
                                                                {% endif %}
                                                            </div>

                                                        </div>
                                                    </li>
                                                    <li class="data-item">
                                                        <div class="data-col">
                                                            <div class="data-label">{% trans 'Net Status' %}</div>
                                                            <div class="data-value">
                                                                {% with object.net_balance as net %}
                                                                    {% if net.type != "balanced" %}
                                                                        <span class="badge badge-dim badge-sm bg-danger">
                                                                            <span class="price-el">{{ net.amount }}</span>
                                                                            <span class="currency-label"></span>
                                                                        </span>
                                                                    {% else %}
                                                                        <span class="badge badge-dim badge-sm bg-success">
                                                                            {% trans 'Is Balanced' %}
                                                                        </span>
                                                                    {% endif %}
                                                                {% endwith %}
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- .card -->
                                        </div>
                                    </div>
                                    <!-- .col -->
                                    {% if perms.accounting.view_journalentry %}
                                        <div class="col-12">
                                            <div class="nk-block-head">
                                                <div class="nk-block-head-content d-flex justify-content-between">
                                                    <h5 class="nk-block-title title">{% trans 'Recent Journal Lines' %}</h5>
                                                    <a href="#" class="fs-15px mt-1">
                                                        {% trans 'View All' %}
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="nk-block">
                                                <div class="card card-stretch">
                                                    <div class="card-inner-group">
                                                        <!-- .card-inner -->
                                                        <div class="card-inner p-2">
                                                            {% include 'accounting/journal_line/components/list-items.html' with journal_lines=object.get_journal_lines|slice:':20' %}
                                                            <!-- .nk-tb-list -->
                                                        </div>
                                                        <!-- .card-inner -->
                                                    </div>
                                                    <!-- .card-inner-group -->
                                                </div>
                                                <!-- .card -->
                                            </div>
                                        </div>
                                    {% endif %}
                                    <!-- .col -->
                                </div>
                                <!-- .row -->
                            </div>
                            <!-- .components-preview -->
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                {% include 'base/components/footer.html' %}
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
        <!-- modals -->
        <div class="modal fade" tabindex="-1" id="modal-delete-object" aria-modal="true" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body modal-body-lg text-center">
                        <div class="nk-modal">
                            <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-trash-empty bg-danger"></em>
                            <h4 class="nk-modal-title">{% trans 'Delete Account' %}</h4>
                            <div class="nk-modal-text">
                                <p class="bg-outline-danger">
                                    Are you sure you want to delete the account
                                    <b>{{ object.name }}</b>
                                    ? By deleting the account, all related items will be removed, and there will be no
                                    possibility of recovery.
                                </p>
                            </div>
                            <div class="nk-modal-action mt-5">
                                <a class="btn btn-lg btn-mw btn-light m-1"
                                   data-bs-dismiss="modal">{% trans 'Cancel' %}</a>
                                <a href="{% url 'accounting:account__delete' pk=object.id %}"
                                   class="btn btn-lg btn-mw btn-danger m-1">{% trans 'Yes, Delete Account' %}</a>
                            </div>
                        </div>
                    </div>
                    <!-- .modal-body -->
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="modal-update-object">
            <div class="modal-dialog modal-dialog-top" role="document">
                <div class="modal-content">
                    <a href="#" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                        <em class="icon ni ni-cross"></em>
                    </a>
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans 'Edit' %}</h5>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'accounting:account__update' pk=object.id %}"
                              class="form-validate is-alter" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row g-4">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="name">{% trans 'Name' %}</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" name="name"
                                                   placeholder="{% trans 'Name' %}"
                                                   id="name" required value="{{ object.name|default:'' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="code">{% trans 'Code' %}</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" name="code"
                                                   placeholder="{% trans 'Code' %}"
                                                   id="code" required value="{{ object.code|default:'' }}">
                                        </div>
                                    </div>
                                </div>
                                {% if object.parent %}
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label" for="code">{% trans 'Parent' %}</label>
                                            <div class="form-control-wrap">
                                                <select id="parent" name="parent"
                                                        class="form-select js-select2 select-by-value"
                                                        value="{{ object.parent.id }}" data-search="on">
                                                    {% for account in accounts %}
                                                        <option value="{{ account.id }}">{{ account.name }}
                                                            | {{ account.code }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="is_active">{% trans 'Status' %}</label>
                                        <div class="form-control-wrap">
                                            <select id="is_active" name="is_active"
                                                    class="form-select js-select2 select-by-value"
                                                    value="{{ object.is_active }}" data-search="on">
                                                <option value="true">{% trans 'Active' %}</option>
                                                <option value="false">{% trans 'Disable' %}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="description">{% trans 'Description' %}</label>
                                        <div class="form-control-wrap">
                                                                <textarea name="description" id="description"
                                                                          class="form-control"
                                                                          placeholder="{% trans 'Description' %}">{{ object.description|default:'' }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-left">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-lg btn-primary">
                                            {% trans 'Update' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modals -->
    </div>
{% endblock %}


{% block Script %}
    <script>

        const values1 = [100, 20, 15, 44, 31, 13, 43, 54, 64, 12, 33, 88, 98, 17];
        const values2 = [100, 20, 22, 44, 50, 65, 43, 54, 60, 22, 9, 88, 95, 17];

        const backgroundColorsDiff = values1.map((value, index) => {
            return value === values2[index] ? 'rgb(20,194,115)' : 'rgb(199,25,44)';
        });

        const chart_of_lines_ctx = document.getElementById('chart_of_lines').getContext('2d');

        const chart_of_lines = new Chart(chart_of_lines_ctx, {
            type: 'bar',
            data: {
                labels: ['Entry 1', 'Entry 2', 'Entry 3', 'Entry 4', 'Entry 5', 'Entry 6', 'Entry 7', 'Entry 8',
                    'Entry 9', 'Entry 10', 'Entry 11', 'Entry 12', 'Entry 13', 'Entry 14'],
                datasets: [
                    {
                        label: translate('Credit'),
                        data: values1,
                        backgroundColor: backgroundColorsDiff,
                        borderWidth: 1,
                        borderRadius: 10
                    },
                    {
                        label: translate('Debit'),
                        data: values2,
                        backgroundColor: backgroundColorsDiff,
                        borderWidth: 1,
                        borderRadius: 10
                    }
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        enabled: true
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            display: true
                        },
                    },
                }
            }
        });

    </script>

{% endblock %}